<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Media</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Staatliches&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="js/main.js"></script>

</head>

<body>
    <div class="topnav">
        <span id="logo">
            <p style="margin-top: 0px; margin-bottom: 0px;">AD CATCH</p>
        </span>
        <div class="menu">
            <a href="all media.html"><button type="button" class="main-buttons">All Media</button></a>
            <a href="MyProjects.html"><button type="button" class="main-buttons">My
                    Projects</button></a>
            <a href="deployed.html"><button type="button" class="main-buttons" id="active-button">Deployed</button></a>


        </div>
        <div class="user-icon">
            <img src="img/avatardefault_92824.png" height="40px">
        </div>
    </div>
<br><br><br>
    <div class="tabels">
        <table>
            <tr>
                <th>Video Name</th>
                <th>Commercial Name</th>
                <th>Match Score</th>
                <th>Merge and Deploy</th>
            </tr>
            <tr>
                <td>Video Name</td>
                <td>Type</td>
                <td>Status</td>
                <td ><button type="button" class="inside-buttons" id="myBtn">Preview</button>
                </td>
            </tr>
            <tr>
                <td>Video Name</td>
                <td>Type</td>
                <td>Status</td>
                <td ><button type="button" class="inside-buttons" id="myBtn">Preview</button>
                </td>
            </tr>

        </table>
    </div>