{% extends 'base.html' %}
{% load static %}
{% block title %} AdCatch | Home {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	
 <div class="bgimage">
        <div class="topnav">
            <div id="logo">
                <p>AD CATCH</p>
            </div>
        </div>
        <div class="rightnav">
           <div id="head">
               <p>Discover The<br>Right AD At The<br>Right Time<br></p>
           </div>
           <div id="head1">
               <p>AdCatch is a great Platform for processing content<br>
                of Media and Commercials.It provides the storage at cloud<br>to store your data and help you to discover
                the right Ad<br>for your Media through best Matching Score.</p>
           </div>
           <a class='btn1' href={% url 'Project:Sign_In' %}>Sign In</a>
           <a class='btn1' href={% url 'Project:Sign_Up' %}>Sign Up</a>
        </div>
 </div>
        
{% endblock %}
{%block script%}
        <script src="" async defer></script>
{% endblock %}

