{% extends 'base.html' %}
{% load static %}
{% block title %} AdCatch | AllMedia {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/style2.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	
    <div class="topnav">
        <span id="logo">
            <p style="margin-top: 0px; margin-bottom: 0px;">AD CATCH</p>
        </span>
        <div class="menu">
            <a href={% url 'Project:All_Media' %}><button type="button" class="main-buttons" id="active-button">All
                    Media</button></a>
            <a href={% url 'Project:MyProject' %}><button type="button" class="main-buttons">My Projects</button></a>
            <button type="button" class="main-buttons">Deployed</button>


        </div>
        <div class="user-icon">
            <img src='{%static 'img/avatardefault_92824.png' %}'height="40px">
        </div>
    </div>
    <div id="page-title">
        <button onclick="goBack()" id="back-button"></button>
        <span>New Project</span>
    </div>
    <div class="section-file">

        <form action={% url 'Project:ResultMyProject' %}>
            <label for="videoname" class="lu">Project Name</label>
            <input type="text" placeholder="MyProject1" class="iu">
            <input type="submit" class="inside-buttons" value="Next" style="margin: 25px; float: none;">
            
        </form>
    </div>    
{% endblock %}

