{% extends 'base.html' %}
{% load static %}
{% block title %} AdCatch | AllMedia {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/style2.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	
    <div class="topnav">
        <span id="logo">
            <p style="margin-top: 0px; margin-bottom: 0px;">AD CATCH</p>
        </span>
        <div class="menu">
            <a href="all media.html"><button type="button" class="main-buttons" id="active-button">All Media</button></a>
            <a href="MyProjects.html"><button type="button" class="main-buttons">My Projects</button></a>
            <button type="button" class="main-buttons">Deployed</button>


        </div>
        <div class="user-icon">
            <img src='{%static 'img/avatardefault_92824.png' %}'height="40px">
        </div>
    </div>
    <div id="page-title">
        <button onclick="goBack()" id="back-button"></button>
        <span>Upload Files</span>
    </div>
    <div class="section-file">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div>
            <label for="videoname" class="lu">Video Name</label>
            <input type="text" placeholder="Title for video" class="iu"  name='videoname'></div>
            <div><br>
            <label for="videoname"class="lu">Video Type</label>
            <select id="cars" name="videotype" style="height: 25px; padding: 2px; margin: 2px; font-size: 10px;">
                <option value="Commercial" class="iu">Commercial</option>
                <option value="Media file"class="iu">Media File</option>
                </select></div><br>
                <div>
                    <label for="choosefile"class="lu">Select a file from your system</label>
            <input type="file" id="myFile" name="filename"></div>
            <input type="submit" class="inside-buttons" style="margin: 25px; float: none;">
        </form>
    </div>     
{% endblock %}

